@tailwind base;
@tailwind components;
@tailwind utilities;

nav a {
  @apply text-gray-400;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sticky {
  top: 0%;
}

.grid-cols-2 {
  grid-template-columns: 1.3fr 0.7fr;
}

.grid-cols-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.description {
  grid-template-columns: 1fr 1fr;
}
